:host {
  height: 10%;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    list-style: none;
    li {
      cursor: pointer;
      transform: scale(1);
      transition: 0.5s;
    }
    li:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
