<ul>
  <li (click)="toggleCurrentSentenceTranslation()">
    <span class="pi pi-language" style="color: #2b435a" title="Show the sentence translation"></span>
  </li>
  <li (click)="playAudioHint()">
    <span class="pi pi-headphones" style="color: #2b435a" title="Listen the sentence"></span>
  </li>
  <li (click)="toggleImageHint()">
    <span class="pi pi-image" style="color: #2b435a" title="Show the puzzle image"></span>
  </li>
</ul>
@if(isClickedTranslationHint || isCorrect()) {
  <p>{{currentSentenceTranslation()}}</p>
}
