 <div
 class="puzzle-field"
 [ngStyle]="{'background-image': canSeeResults() ?
 'url(' + correctLineBgImage() + ')'
 : 'none',
 'transition': '1s'}">
  <div
  class="word-puzzles-line"
  [ngStyle]="
  {'visibility': canSeeResults() ? 'hidden' : 'visible',
    'transition': '1s'}">
    <div
    class="puzzle-fragment"
    *ngFor="let sentence of correctSentences(); let i = index"
    [backgroundImage]="correctLineBgImage()"
    backgroundPosition [backgroundPuzzlePosition]="calculateBgPosition(i)"
    >
      <div class="word-puzzle-item" *ngFor="let word of sentence">
        <span>{{word}}</span>
      </div>
    </div>

    @if(!isCorrect() && currentSentenceNum() <= 9) {
      <div
        class="words"
        [ngStyle]="{
          'grid-template-columns': girdTemplateRowsPuzzle()
        }"
      >
        <div
        class="word-puzzle"
        *ngFor="let puzzle of resultBlock; let i = index"
        (click)="movePuzzleToPuzzlesBlock(puzzle)"
        backgroundColor
        [isCorrectWordsOrder]="isCorrectWordsOrder"
        [ngStyle]="{
          'background-image': isClickedImageHint() ? 'url(' + puzzle.image + ')' : 'url()',
          'background-position': puzzle.backgroundPosition
        }"
        >
          <span>
            {{puzzle.word}}
          </span>
        </div>
      </div>
    }
  </div>
</div>
