 <div class="puzzle-field" [backgroundImage]="backgroundImagePath()">
  <div class="word-puzzles-line">
    <div
    class="word-puzzle word-puzzle-line"
    *ngFor="let sentence of correctSentences()">
      <div class="word-puzzle-item" *ngFor="let word of sentence">
        <span>{{word}}</span>
      </div>
        <!-- {{line.join(' ')}} -->
    </div>

    @if(!isCorrect() && currentSentenceNum() <= 9) {
      <div class="words">
        <div
        class="word-puzzle"
        *ngFor="let word of resultBlock"
        (click)="movePuzzleToPuzzlesBlock(word)"
        backgroundColor
        [isCorrectWordsOrder]="isCorrectWordsOrder"
        >
          <span
          class="{{word}}">
            {{word}}
          </span>
        </div>
      </div>
    }
  </div>
</div>
