<div class="source-block-wrapper"
  [ngStyle]="
    {
      'grid-template-columns':  girdTemplateRowsPuzzle(),
    }
  "
>
  <div
  class="word-puzzle"
  *ngFor="let item of words; let i = index"
  (click)="movePuzzleToPuzzleField(item)"

  >
    <canvas
    style="width: 100%; height: 100%;"
    canvasRenderer [renderPuzzleElement]="
      {
        color: '#fa34a3',
        word: item.word,
        wordsNumber: item.wordsNumber,
        image: isClickedImageHint() ? item.image : '',
        puzzleCroppingX: item.puzzleCroppingX,
        puzzleCroppingY: item.puzzleCroppingY,
        puzzleIndex: item.index
      }
    "
    ></canvas>
  </div>
</div>
