:host {
  .source-block-wrapper {
    height: 10vh;
    display: grid;
    justify-items: center;
    align-items: center;
    // gap: 10px;
    padding: 5px;
    text-align: center;
    background-color: rgb(210 219 230 / 90%);
    border-radius: 10px;
    .word-puzzle {
      width: fit-content;
      height: 47px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
      // padding: 0 20px;
      // background-color: #b27474;
      cursor: pointer;
      transition: 0.5s;
      span {
        padding: 2px;
        border-radius: 5px;
        font-size: 1vw;
        color: rgb(225, 211, 181);
        background-color: rgba(164, 128, 51, 0.4);
        box-shadow: 0px 0px 15px 5px rgba(164, 128, 51, 0.3);
        transform: scale(1);
        transition: 0.5s;
      }
    }

    .word-puzzle:hover {
      background-color: rgb(234, 238, 187);
      transition: 0.5s;
      span:hover {
        background-color: rgba(110, 95, 65, 0.4);
        box-shadow: 0px 0px 15px 5px rgba(164, 128, 51, 0.3);
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}
