<div class="puzzle-game">
  <div class="levels-and-rounds">
    <div class="levels">
      <label for="levels-select">Level: {{level()}}</label>
      <select name="levels" id="levels-select">
        <option value="1">1</option>
      </select>
    </div>

    <div class="rounds">
      <label for="Rounds-select">Round: {{round() + 1}}</label>
      <select name="rounds" id="rounds-select">
        <option value="1">1</option>
      </select>
    </div>
  </div>
  <pzl-puzzle-field></pzl-puzzle-field>
  <pzl-puzzles-block></pzl-puzzles-block>
</div>

<div class="game-menu">
  <pzl-hints-block></pzl-hints-block>
  <div class="game-buttons">
    <button class="autocomplition-button" (click)="completeSentence()">I don't know</button>
    @if(!isCorrect()) {
      <button class="check-button" (click)="isCorrectlyCompleted()" [disabled]="isDisabled()">Check</button>
    } @else {
      <button class="check-button" (click)="continue()">Continue</button>
    }
  </div>
</div>
