:host {
  width: 70%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin: auto;
  .puzzle-game {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .levels-and-rounds {
      height: 5%;
      display: flex;
      gap: 10px;
      .levels, .rounds {
        display: flex;
        gap: 5px;
      }
    }
  }
  .game-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(161 178 200 / 90%);
    border-radius: 10px;
  }
}
