<div class="puzzle-game">
  <pzl-levels-and-rounds></pzl-levels-and-rounds>
  <pzl-puzzle-field></pzl-puzzle-field>
  <pzl-puzzles-block></pzl-puzzles-block>
</div>

<div class="game-menu">
  <pzl-hints-block></pzl-hints-block>
  <div class="game-buttons">
    <button class="autocomplition-button" (click)="completeSentence()">I don't know</button>
    @if (canSeeResults()) {
      <button class="results-button" (click)="showResults()">Results</button>
    }

    @if(!isCorrect()) {
      <button class="check-button" (click)="isCorrectlyCompleted()" [disabled]="isDisabled()">Check</button>
    }  @else {
      <button class="continue-button" (click)="continue()">Continue</button>
    }
  </div>
</div>
