<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Puzzle Game</legend>
    <label for="name">Fisrt Name: </label>
    <input id="name" type="text" formControlName="firstName">

    <label for="name">Last Name: </label>
    <input id="name" type="text" formControlName="lastName">

    <label for="name">Password: </label>
    <input id="name" type="text" formControlName="password">

    <button type="submit" [disabled]="loginForm.invalid">Log in</button>
  </fieldset>
</form>
