<div class="logo">
  <ng-container>
    <canvas style="width: 130px; height: 60px;" #logoPuzzle></canvas>
  </ng-container>
</div>
<nav>
  <ul>
    <li><a [routerLink]="currentLink" routerLinkActive="active-page" *ngIf="isLogged; else elseBlock" (click)="logOut()">{{logInLogOut}}</a></li>
    <ng-template #elseBlock>
      <a [routerLink]="currentLink" routerLinkActive="active-page">{{logInLogOut}}</a>
    </ng-template>

    <li>
      <a routerLink="" routerLinkActive="active-page" *ngIf="isLogged">My Profile</a>
    </li>

    <li>
      <a routerLink="" routerLinkActive="active-page"
      [routerLinkActiveOptions]="{exact:true}">{{firstNavLink}}</a>
    </li>
  </ul>
</nav>

