@import url('../src/app/auth/login-page/login-page.component.scss');

body {
  max-width: 1980px;
  height: 100vh;
  margin: auto 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:'Lucida Sans', sans-serif;
}
